# Default ignored files
/../../20240712BootstrapLayOutPracticeDescription /.idea/shelf/
/../../20240712BootstrapLayOutPracticeDescription /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../20240712BootstrapLayOutPracticeDescription /.idea/httpRequests/
# Datasource local storage ignored files
/../../20240712BootstrapLayOutPracticeDescription /.idea/dataSources/
/../../20240712BootstrapLayOutPracticeDescription /.idea/dataSources.local.xml
